# mysql config
MYSQL_USER= {mysql username}
MYSQL_PASSWORD= {mysql password}
MYSQL_HOST= { mysql host '192.168.0.1' }
MYSQL_DATABASE= { mysql database name}

# mongodb config (flask_limiter)
MONGODB_HOST= { mongodb host '192.168.0.1' }
MONGODB_PORT= { mongodb port }
MONGODB_DATABASE= { mongodb database name }

# whitelist ip's (separeted by comma)
WHITELIST_IPS= {ips list '192.168.0.2,158.20.1.3'}

# GLPI variables
GLPI_URL={ GLPI Api URL 'http://{host}/glpi/apirest.php' } 
GLPI_USER= {GLPI user username }
GLPI_PASSWORD={ GLPI user passowrd }
GLPI_B64_CREDENTIALS={ GLPI B64 credentials 'Z2xwaTpnbHBp' } #{username}:{password}
GLPI_APP_TOKEN= { GLPI App Token }